<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>Редагування профілю</h2>

<form method="POST">
    <label>Нове ім'я</label>
    <input name="username" value="{{user}}"> <br><br>

    <label>Новий пароль</label>
    <input name="password" type="password"> <br><br>

    <label>Аватар</label>
    <input name="avatar"> <br><br>

    <button>Зберегти зміни</button>
</form>

<a href = "/profile">Назад</a>

</body>
</html>